/* app css stylesheet */

.photo-box, .text-box {
  overflow: hidden;
  position: relative;
  height: 250px;
}

.photo-box img {
  min-height: 250px;
  width: 100%;
}

.article-box {
  padding: 1em;
}
