/* app css stylesheet */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 87.5%;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.main-head {
  background: rgba(28, 28, 50, 0.9);
  opacity: 0.99;
  padding-left: 10px;
  padding-top: 10px;
  height: 38px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #fff;
}

.main-head .header {
  float: left;
  margin-top: 5px;
}

.main-head .header:after {
  content: ".";
  display: none;
  clear: both;
}

.main-head form {
  float: right;
  margin-right: 30px;
}

.photo-box, .text-box {
  overflow: hidden;
  position: relative;
  height: 250px;
  background: rgb(28, 28, 37);
  color: #fff;
}

.photo-box img {
  min-height: 250px;
  width: 100%;
  background-image: linear-gradient(to bottom right, #eee, #fff);
}

.article-box {
  padding: 2em;
  overflow-y: scroll;
}

.article-box h1 {
  padding-bottom: 10px;
  border-bottom: 1px #fff solid;
  margin-top: 35px;
}
