<section class="pure-g">
  <article class="pure-u-1-3 photo-box" ng-repeat="result in results" ng-show="$index < 3">
    <img class="imgfit" ng-src="{{result.url}}">
    <aside class="photo-box-caption">
      {{result.author}}
    </aside>
  </article>

  <header class="title-container pure-u-1-3 text-box article-box">
    <h1 class="text-box-head">{{article.title}}</h1>
  </header>
  <article class="pure-u-2-3 text-box">
    <div ng-bind-html-unsafe="article.text | truncate"></div>
    <div class='display-more'>
      <a href="#"><i class="icon-chevron-down"></i> More <i class="icon-chevron-down"></i></a>
    </div>
  </article>

  <article class="pure-u-1-3 photo-box" ng-repeat="result in results" ng-show="$index >= 3 && $index < 7">
    <img class="imgfit" ng-src="{{result.url}}">
    <aside class="photo-box-caption">
      {{result.author}}
    </aside>
  </article>

  <article class="pure-u-2-3 photo-box" ng-repeat="result in results" ng-show="$index == 7 || $index == 8">
    <img class="imgfit" ng-src="{{result.url}}">
    <aside class="photo-box-caption">
      {{result.author}}
    </aside>
  </article>

  <article class="pure-u-1-3 photo-box" ng-repeat="result in results" ng-show="$index == 9">
    <img class="imgfit" ng-src="{{result.url}}">
    <aside class="photo-box-caption">
      {{result.author}}
    </aside>
  </article>
</section>
