<section class="pure-g">
  <article class="pure-u-1-3 photo-box" ng-repeat="result in results" ng-show="$first">
    <img class="imgfit" ng-src="{{result.url}}">
    <aside class="photo-box-caption">
      {{result.author}}
    </aside>
  </article>
  <article class="pure-u-2-3 text-box">
    <div class="article-box">
      <header><h1>{{article.title}}</h1></header>
      <p>{{article.text}}</p>
    </div>
  </article>
  <article class="pure-u-1-3 photo-box" ng-repeat="result in results" ng-hide="$first">
    <img class="imgfit" ng-src="{{result.url}}">
    <aside class="photo-box-caption">
      {{result.author}}
    </aside>
  </article>
</section>
